<nav id="sidebar" class="sidebar">
  <div class="sidebar-content js-simplebar" data-simplebar="init">
    <div class="simplebar-wrapper" style="margin: 0px;">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
          <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden;">
            <div class="simplebar-content" style="padding: 0px;">
              <a class="sidebar-brand" href="/">
                <span class="text-center">Impulso</span>
                <p>DesafioBackEnd</p>
              </a>

              <ul class="sidebar-nav">
                <li class="sidebar-header">
                  Paginas
                </li>

                <li class="sidebar-item">
                  <a href="#ui" data-toggle="collapse" class="sidebar-link collapsed">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-package align-middle mr-2">
                      <line x1="16.5" y1="9.4" x2="7.5" y2="4.21"></line>
                      <path d="M21 16V8a2 2 0 0 0-1-1.73l-7-4a2 2 0 0 0-2 0l-7 4A2 2 0 0 0 3 8v8a2 2 0 0 0 1 1.73l7 4a2 2 0 0 0 2 0l7-4A2 2 0 0 0 21 16z"></path>
                      <polyline points="3.27 6.96 12 12.01 20.73 6.96"></polyline>
                      <line x1="12" y1="22.08" x2="12" y2="12"></line>
                    </svg>
                    <span class="align-middle">CNAB</span>
                  </a>
                  <ul id="ui" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/cnabs">Lista</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/cnabs/new">Importação</a></li>
                  </ul>
                </li>


                <li class="sidebar-item">
                  <a href="#forms" data-toggle="collapse" class="sidebar-link collapsed">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-repeat align-middle mr-2">
                      <polyline points="17 1 21 5 17 9"></polyline>
                      <path d="M3 11V9a4 4 0 0 1 4-4h14"></path>
                      <polyline points="7 23 3 19 7 15"></polyline>
                      <path d="M21 13v2a4 4 0 0 1-4 4H3">
                      </path>
                    </svg>
                    <span class="align-middle">Transações</span>
                  </a>
                  <ul id="forms" class="sidebar-dropdown list-unstyled collapse " data-parent="#sidebar">
                    <li class="sidebar-item"><a class="sidebar-link" href="/deals">Lista</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/deals/new">Cadastro</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="simplebar-placeholder" style="width: auto; height: 910px;"></div>
    </div>
    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: hidden;">
      <div class="simplebar-scrollbar" style="height: 0px; display: none;"></div>
    </div>
  </div>
</nav>