<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h5 class="card-title">Edita transação</h5>
      <h6 class="card-subtitle text-muted">Confirme antes de atualizar!</h6>
    </div>
    <div class="card-body">
      <%= render 'form', deal: @transaction %>
    </div>
  </div>
</div>